@keyframes dropHeader {
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
    }

}

@keyframes textHappen {
    100%{
        transform: translateY(0%);
    }
}

@keyframes hoverInImg {
    50%{
        width: 50px;
    }
    100%{
        width: 300px;
    }
}