@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Readex+Pro:wght@700&display=swap');

$font_default: 'Mukta', sans-serif;

$swatch_1: #e7e5e7;
$swatch_2: #a6a4a7;
$swatch_3: #0f0c0f;
$swatch_4: #594a45;
$swatch_5: #b78f78;
$swatch_6: #547d54;
$swatch_7: #b85a3c;